:root {
  --primary-bg-color: #2f303a;
  --primary-text-color: #2196f3;
  --secondary-text-color: #000000;
  --third-text-color: #ffffff;
  --main-text-color: #757575;
  --header-color: #212121;
  --secondary-bg-color: #f5f4fa;
  --header-line-color: #ececec;
}
body {
  font-family: Roboto, sans-serif;
}
